1.Write a python progarm to print the numbers 1 to 10 using 'for' loop.

In [ ]:
for numbers in range(1,11):
  print(numbers)

1
2
3
4
5
6
7
8
9
10

2.Create a program that calculates the sum of all numbers in a list using a for loop.

In [ ]:
my_list=[1,2,3,4,5,6,7,8,9,10]
numbers=0
for i in my_list:
    numbers+=i
print(numbers)

55

3.Write a program to print the characters of a string in reverse order using for loop

In [ ]:
my_string=" hey hello hi"
reverse_string=""
for char in reversed(my_string):
  reverse_string+=char

print("The reversed string is:",reverse_string)

The reversed string is: ih olleh yeh

4.Develop a program that finds the factorial of a given number using for loop.

In [ ]:
num=int(input())
factorial=1
for i in range(1,num+1):
  factorial *=i

print(f"The factorial of {num} is {factorial}")

5
The factorial of 5 is 120

5.Create a program to write the multiplication table of a given number using for loop.

In [ ]:
num=int(input())
print(f"The multiplication table for{num} is:")
for i in range(1,11):
  result=num*i
  print(f"{num}*{i}={result}")

5
The multiplication table for5 is:
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

6.Write a program that counts the number of even and odd numbers in a list using for loop.

In [ ]:
my_list=[1,2,3,4,5,6,7,8,9,10]
even=0
odd=0
for i in my_list:
  if i%2==0:
    even+=1
  else:
    odd+=1
print(f"The number of even is {even} and odd is {odd}")

The number of even is 5 and odd is 5

7.Develop a program that prints the squares of numbers from 1 to 5 using for loop.

In [ ]:
for i in range(1,6):
  square=i*i
  print(f"The square of {i} is {square}")
  i+=1

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25

8.Create a program to find the length of a string withut using the len() function.

In [ ]:
my_string="Sananda Biswas Chatterjee"
string_count=0
for i in my_string:
  string_count+=1
print(f"The length of the string is {string_count}")

The length of the string is 25

9.Write a program that calculates the average of a list of numbers using for loop.

In [ ]:
my_list=[1,2,3,4,5,6,7,8,9,10]
total_num=0
sum_num=0
for i in my_list:
    total_num+=1
    sum_num+=i
print(f"The average of the list is {sum_num/total_num}")

The average of the list is 5.5

10.Develop a program that prints the first 'n' fibonacci numbers using for loop.

In [ ]:
n=int(input("Enter the number of fibonacci numbers to generate: "))
a,b=0,1
print(a,end=' ')
for i in range(1,n):
  a,b=b,a+b
  print(a,end=" ")

Enter the number of fibonacci numbers to generate: 10
0 1 1 2 3 5 8 13 21 34

11.Write a program to check if a given list contain any duplicates using a for loop.

In [ ]:
def has_duplicates(input_list):
  for i in range(len(input_list)):
    for j in range(i+1,len(input_list)):
      if input_list[i]==input_list[j]:
        return True
  return False

#input_list=[1,2,3,2,4,3,5,6]
input_list=[1,2,3,4,5,6]
result=has_duplicates(input_list)
if result:
  print("The list contains duplicates")
else:
  print("The list does not contain any duplicates")

The list does not contain any duplicates

12.Create a program that prints the prime numbers in a given range using for loop.

In [ ]:
def is_prime(num):
  if num<=1:
    return False
  for i in range(2,int(num**0.5)+1):
    if num%i ==0:
      return False
  return True

start_range=int(input("Enter the starting range:"))
end_range=int(input("Enter the end range:"))

for i in range(start_range,end_range+1):
  if is_prime(i):
    print(i)

Enter the starting range:1
Enter the end range:20
2
3
5
7
11
13
17
19

13.Develop a program that count the vowels in a string using for loop.

In [ ]:
my_string=str(input())
final=my_string.lower()
vowel_count=0
for i in final:
  if i in "aeiou":
    vowel_count+=1
print(f"The number of vowel in {my_string} is : {vowel_count}")

sananda biswas CHAtterjee
The number of vowel in sananda biswas CHAtterjee is : 9

14.Write a program to find the maximum element in  2D list using nested for loop.

In [ ]:
matrix=[[10,20,30],
         [40,50,60],
         [70,80,90]]
max_element=[0][0]
for row in matrix:
  for element in row:
    if element > max_element:
      max_element=element

print(f"The maximum element in 2D list is:{max_element}")

The maximum element in 2D list is:90

15.Create a progrm that removes all occurances of a specific element of a list using a for loop.

In [ ]:
my_list=[1,2,3,4,5,6,7,8,9,5,10]
item_remove=5
new_list=[i for i in my_list if i!= item_remove]
print(new_list)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

16.Develop a program that generates a multiplication table or numbers from 1-5 using nested for loop.

In [ ]:
for i in range(1,6):
  for j in range(1,11):
    product=i*j
    print(f'{i}*{j}={product}')
  print()

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

17.Write a program that converts a of fahrenheit temp to celcius using a for loop.

In [ ]:
#F=float(input("Enter the temp in Fahrenheit:"))
#C=(F-32)*5/9
start=0
end=50
step=10
print("Fahrenheit\tCelsius")
for fahrenheit in range(start,end+1,step):
  celcius=(fahrenheit-32)*5/9
  print(f"{fahrenheit}\t\t{celcius:.2f}")

Fahrenheit	Celsius
0		-17.78
10		-12.22
20		-6.67
30		-1.11
40		4.44
50		10.00

18.Create a program to print common element from two lists using for loop.

In [ ]:
list1=[1,2,3,4,5,6,7,8,9]
list2=[23,4,45,6,56,7,78,8,89]
print(f"The common elements in list1 and list2 are:")
for i in list1:
  for j in list2:
    if i == j:
      print(i)

The common elements in list1 and list2 are:
4
6
7
8

19.Develop a program that prints the patterns of right angled triangle using a for loop.use * for the pattern.

In [ ]:
height=5
for i in range(1,height+1):
  for j in range(1,i+1):
    print("*",end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
height=5
for i in range(height,0,-1):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

20.Write a program to find the greatest common divisor (GCD) of two numbers using a for loop.

In [ ]:
def find_gcd(a,b):
  for i in range(1,num1+1):
    if i <= num2:
      if num1 % i == 0 and num2 % i == 0:
        GCD = i
  return GCD

num1=int(input('enter the 1st num:'))
num2=int(input('enter the 2nd num:'))
gcd=find_gcd(num1,num2)
print(f'The gcd of {num1} and {num2} is {gcd}')

enter the 1st num:12
enter the 2nd num:60
The gcd of 12 and 60 is 12

21.Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [ ]:
test_list=[12,14,28,45]
print("The original list:",test_list)

result=[]
for i in test_list:
  element=0
  for j in str(i):
    element += int(j)
  result.append(element)

print("The final list:",result)

The original list: [12, 14, 28, 45]
The final list: [3, 5, 10, 9]

In [ ]:
test_list=[12,14,28,45]
print("The original list:",test_list)
result=list(map(lambda element: sum(int(j) for j in str(element)),test_list))
print("The final list:", result)

The original list: [12, 14, 28, 45]
The final list: [3, 5, 10, 9]

22.Write a program to find the prime factors of a given number using a for loop and list comprehension.

In [ ]:
import math
def prime_factors(n):
    while n%2 == 0:
      print(2)
      n = n//2

    for i in range(3,int(math.sqrt(n))+1,2):
        while n % i == 0:
          print(i)
          n = n//i

    if n>2:
      print(n)

n=315
prime_factors(n)

3
3
5
7

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list comprehension.

In [ ]:
my_list = [1,2,2,3,4,4,4,5,6,6,7,8,4,5]

unique_ele = [x for x in my_list if my_list.count(x) == 1]

print(unique_ele)

[1, 3, 7, 8]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list comprehension.

In [ ]:
def is_palindrome(number):
    # Function to check if a number is a palindrome
    return str(number) == str(number)[::-1]

def generate_palindromic_numbers(limit):
    # Generate a list of palindromic numbers up to the specified limit
    palindromic_numbers = [num for num in range(limit + 1) if is_palindrome(num)]
    return palindromic_numbers

# Example usage:
limit = 100
palindromic_numbers_list = generate_palindromic_numbers(limit)

print(f"Palindromic Numbers up to {limit}:")
print(palindromic_numbers_list)

Palindromic Numbers up to 100:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

25. Write a program to flatten a nested list using list comprehension.

In [ ]:
def flatten_nested_list(nested_list):
    # Use list comprehension to flatten the nested list
    flattened_list = [element for sublist in nested_list for element in sublist]
    return flattened_list

# Example usage:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]
flattened_list = flatten_nested_list(nested_list)

print("Nested List:", nested_list)
print("Flattened List:", flattened_list)

Nested List: [[1, 2, 3], [4, 5], [6, 7, 8]]
Flattened List: [1, 2, 3, 4, 5, 6, 7, 8]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list comprehension.

In [ ]:
def sum_even_odd(numbers):
    # Use list comprehension to separate even and odd numbers and compute their sums
    even_sum = sum([num for num in numbers if num % 2 == 0])
    odd_sum = sum([num for num in numbers if num % 2 != 0])
    return even_sum, odd_sum

# Example usage:
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_sum, odd_sum = sum_even_odd(number_list)

print("Original List:", number_list)
print("Sum of Even Numbers:", even_sum)
print("Sum of Odd Numbers:", odd_sum)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Sum of Even Numbers: 30
Sum of Odd Numbers: 25

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list comprehension.

In [ ]:
squares_of_odd_numbers = [x**2 for x in range(1, 11) if x % 2 != 0]

# Print the result
print("Squares of Odd Numbers between 1 and 10:", squares_of_odd_numbers)

Squares of Odd Numbers between 1 and 10: [1, 9, 25, 49, 81]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [ ]:
keys = ['name', 'age', 'city']
values = ['John', 25, 'New York']

# Combine the lists into a dictionary using list comprehension
combined_dict = {keys[i]: values[i] for i in range(min(len(keys), len(values)))}

# Print the resulting dictionary
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [ ]:
def extract_vowels(input_string):
    # Use list comprehension to extract vowels from the input string
    vowels = [char for char in input_string if char.lower() in 'aeiou']

    return vowels

# Example usage:
input_string = "Hello, World!"
vowels_list = extract_vowels(input_string)

print("Original String:", input_string)
print("Vowels List:", vowels_list)

Original String: Hello, World!
Vowels List: ['e', 'o', 'o']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [ ]:
def remove_non_numeric(strings_list):
    # Use list comprehension to remove non-numeric characters from each string
    numeric_strings = [''.join(char for char in string if char.isnumeric()) for string in strings_list]

    return numeric_strings

# Example usage:
strings_list = ["abc123", "45def", "789ghi", "jkl"]
numeric_strings_list = remove_non_numeric(strings_list)

print("Original List of Strings:", strings_list)
print("List with Non-Numeric Characters Removed:", numeric_strings_list)

Original List of Strings: ['abc123', '45def', '789ghi', 'jkl']
List with Non-Numeric Characters Removed: ['123', '45', '789', '']

31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list comprehension.

In [ ]:
def sieve_of_eratosthenes(limit):
    # Create a boolean list to track whether each number is prime or not
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False  # 0 and 1 are not prime numbers

    # Apply the Sieve of Eratosthenes algorithm
    for number in range(2, int(limit**0.5) + 1):
        if is_prime[number]:
            # Mark multiples of the current prime number as not prime
            is_prime[number * number : limit + 1 : number] = [False] * len(range(number * number, limit + 1, number))

    # Use list comprehension to create a list of prime numbers
    primes = [number for number in range(2, limit + 1) if is_prime[number]]

    return primes

# Example usage:
limit = 50
prime_numbers_list = sieve_of_eratosthenes(limit)

print(f"Prime Numbers up to {limit}:")
print(prime_numbers_list)

Prime Numbers up to 50:
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list comprehension.

In [ ]:
def generate_pythagorean_triplets(limit):
    # Use list comprehension to generate Pythagorean triplets
    triplets = [(a, b, c) for a in range(1, limit + 1) for b in range(a, limit + 1) for c in range(b, limit + 1) if a**2 + b**2 == c**2]

    return triplets

# Example usage:
limit = 20
pythagorean_triplets_list = generate_pythagorean_triplets(limit)

print(f"Pythagorean Triplets up to {limit}:")
print(pythagorean_triplets_list)

Pythagorean Triplets up to 20:
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [ ]:
def generate_combinations(list1, list2):
    # Use list comprehension to generate all combinations of elements from two lists
    combinations = [(x, y) for x in list1 for y in list2]

    return combinations

# Example usage:
list_a = [1, 2, 3]
list_b = ['a', 'b', 'c']
combinations_list = generate_combinations(list_a, list_b)

print("List A:", list_a)
print("List B:", list_b)
print("All Combinations:", combinations_list)

List A: [1, 2, 3]
List B: ['a', 'b', 'c']
All Combinations: [(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

34. Write a program that calculates the mean, median, and mode of a list of numbers using list comprehension.

In [ ]:
from statistics import mean, median, mode

def calculate_mean_median_mode(numbers):
    # Calculate mean using list comprehension
    mean_value = mean(numbers)

    # Calculate median using list comprehension
    median_value = median(numbers)

    # Calculate mode using list comprehension
    mode_value = mode(numbers)

    return mean_value, median_value, mode_value

# Example usage:
number_list = [1, 2, 2, 3, 4, 4, 5, 6, 7, 8, 9, 5]
mean_val, median_val, mode_val = calculate_mean_median_mode(number_list)

print("Original List of Numbers:", number_list)
print("Mean:", mean_val)
print("Median:", median_val)
print("Mode:", mode_val)

Original List of Numbers: [1, 2, 2, 3, 4, 4, 5, 6, 7, 8, 9, 5]
Mean: 4.666666666666667
Median: 4.5
Mode: 2

35. Create a program that generates Pascal's triangle up to a specified number of rows using list comprehension.

In [ ]:
def generate_pascals_triangle(rows):
    triangle = [[1] * row for row in range(1, rows + 1)]

    for row in range(2, rows):
        for i in range(1, row):
            triangle[row][i] = triangle[row-1][i-1] + triangle[row-1][i]

    return triangle

# Example usage:
num_rows = 5
pascals_triangle = generate_pascals_triangle(num_rows)

# Print Pascal's Triangle
for row in pascals_triangle:
    print(row)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list comprehension.

In [ ]:
from math import factorial

def sum_of_digits(number):
    # Calculate the sum of digits of a number
    return sum(int(digit) for digit in str(number))

# Calculate the sum of digits for factorials of numbers from 1 to 5 using list comprehension
sums_of_digits = [sum_of_digits(factorial(i)) for i in range(1, 6)]

# Print the correct results
for i, result in enumerate(sums_of_digits, start=1):
    print(f"Sum of digits for the factorial of {i}: {result}")

Sum of digits for the factorial of 1: 1
Sum of digits for the factorial of 2: 2
Sum of digits for the factorial of 3: 6
Sum of digits for the factorial of 4: 6
Sum of digits for the factorial of 5: 3

37. Write a program that finds the longest word in a sentence using list comprehension.

In [ ]:
def longest_word(sentence):
    # Use list comprehension to get all words in the sentence
    words = [word.strip(".,?!") for word in sentence.split()]

    # Find the longest word using max and len functions
    longest = max(words, key=len)

    return longest

# Example usage:
input_sentence = "This is an example sentence with some long words."
result = longest_word(input_sentence)

print("Input Sentence:", input_sentence)
print("Longest Word:", result)

Input Sentence: This is an example sentence with some long words.
Longest Word: sentence

38. Create a program that filters a list of strings to include only those with more than three vowels using list comprehension.

In [ ]:
def count_vowels(word):
    # Count the number of vowels in a word
    return sum(1 for char in word if char.lower() in 'aeiou')

def filter_strings_by_vowels(string_list, threshold=3):
    # Use list comprehension to filter strings with more than three vowels
    filtered_strings = [word for word in string_list if count_vowels(word) > threshold]

    return filtered_strings

# Example usage:
input_strings = ["hello", "world", "python", "programming", "list", "comprehension"]
filtered_result = filter_strings_by_vowels(input_strings)

print("Input Strings:", input_strings)
print("Filtered Strings (more than three vowels):", filtered_result)

Input Strings: ['hello', 'world', 'python', 'programming', 'list', 'comprehension']
Filtered Strings (more than three vowels): ['comprehension']

39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list comprehension.

In [ ]:
def sum_of_digits(number):
    # Calculate the sum of digits of a number
    return sum(int(digit) for digit in str(number))

# Use list comprehension to calculate the sum of digits for numbers from 1 to 1000
sums_of_digits = [sum_of_digits(i) for i in range(1, 1001)]

# Calculate the total sum of digits
total_sum = sum(sums_of_digits)

print("Sum of digits for numbers from 1 to 1000 using list comprehension:", total_sum)

Sum of digits for numbers from 1 to 1000 using list comprehension: 13501

40. Write a program that generates a list of prime palindromic numbers using list comprehension.

In [ ]:
def is_prime(number):
    # Check if a number is prime
    if number < 2:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

def is_palindrome(number):
    # Check if a number is a palindrome
    return str(number) == str(number)[::-1]

# Use list comprehension to generate a list of prime palindromic numbers
prime_palindromes = [num for num in range(1, 1000) if is_prime(num) and is_palindrome(num)]

# Print the result
print("Prime Palindromic Numbers:", prime_palindromes)

Prime Palindromic Numbers: [2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]